@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans')

@font-face 
  font-family 'fontawesome'
  src url('/webfonts/fa-solid-900.eot')
  src url('/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/fa-solid-900.woff') format('woff'),
    url('/webfonts/fa-solid-900.ttf') format('truetype'),
    url('/webfonts/fa-solid-900.svg#entypo') format('svg')
  font-weight normal
  font-style normal

@font-face 
  font-family 'fontawesome-brands'
  src url('/webfonts/fa-brands-400.eot')
  src url('/webfonts/fa-brands-400.eot?#iefix') format('embedded-opentype'),
    url('/webfonts/fa-brands-400.woff') format('woff'),
    url('/webfonts/fa-brands-400.ttf') format('truetype'),
    url('/webfonts/fa-brands-400.svg#entypo') format('svg')
  font-weight normal
  font-style normal


system-font-black = "HelveticaNeueBlack", "HelveticaNeue-Black", "Helvetica Neue Black", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Arial Black", sans-serif
system-font-regular = "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif 
system-font-light = "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif

font-corp = 'brandon-grotesque', system-font-black
//font-corp = 'Futura W01'
font-text = 'Cabrito Serif W05', serif
